:host {
    display: block;
    width: 100%;
    z-index: 50;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

::ng-deep .p-button.p-button-active {
    background-color: var(--p-content-hover-background) !important;
}