:host {
    display: block;
}

/* Custom primeflex-like overrides if necessary, though PrimeNG provides a lot out of the box */
::ng-deep .p-dialog .p-dialog-content {
    padding: 1.5rem;
}
::ng-deep .p-inputnumber-input {
    width: 100%;
}
