:host {
    display: block;
    height: 100vh;
    background-color: #f3f4f6; /* Light gray background for the dashboard */
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}
